<% provide(:title, 'Home') %>

<div class="row">
<aside class="span6"><section>
<%= render 'shared/pic/six' %>
 <%= render 'shared/articles/article1' %></section>

</aside>
<aside class="span2">
	<section>
<%= render 'shared/pic/one' %>
 <%= render 'shared/articles/article2' %>
 
</section>
</aside>
<aside class="span4"><section>
<%= render 'shared/pic/thirteen' %>
 <%= render 'shared/articles/article3' %>
</aside>
</div>
<div class="row">
<aside class="span8">
	<section>
	<%= render 'shared/articles/article2' %>
	<%= render 'shared/pic/twelve' %>
	<%= render 'shared/articles/article2' %>
	<%= render 'shared/pic/nine' %>
	</section>
</aside>
<aside class="span2">
	<section>

		<%= render 'shared/pic/seven' %>

		<%= render 'shared/pic/four' %>
		<%= render 'shared/pic/eight' %>
		<%= render 'shared/pic/two' %>
		<%= render 'shared/pic/ten' %>
	</section>
	<aside>

</div>
